<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.unpkg.com/vue"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <p><input type="text" v-model='first'></p>
    <p><input type="text" v-model='second'></p>
    <p><input type="text" v-model='third'></p>
  </div>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        first: 'Vue.js',
        second: 'React'
      },
      computed: {
        third: {
          get: function() {
            return this.first + ','+this.second;
          },
          set: function(newVal) {
            this.first = newVal.split(',')[0].trim();
            this.second = newVal.split(',')[1].trim();
          }
        }
      },
    });
  </script>
</body>

</html>